.container-box {
  background-color: black;
  font-size: 2vh;
  color: cornsilk;
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}

.cat-poster { 
  width: 10rem;
}